In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# Load the CSV file
df = pd.read_csv("TimeSeriesForecasting.csv")

# Display the dataframe
df

,time,column1,column2,column3,column4,column5,column6,column7,column8,column9,...,column17,column18,column19,column20,column21,column22,column23,column24,forecastedtargets,targets
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,73.0,49.0,196.0,0.0,6378.0,17,NaN,6436,26118,25385.0
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,71.0,50.0,195.0,0.0,5890.0,16,NaN,5856,24934,24382.0
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,73.0,50.0,196.0,0.0,5461.0,8,NaN,5454,23515,22734.0
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,75.0,50.0,191.0,0.0,5238.0,2,NaN,5151,22642,21286.0
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,74.0,42.0,189.0,0.0,4935.0,9,NaN,4861,21785,20264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,0.0,7634.0,2628.0,178.0,0.0,0.0,0.0,...,95.0,85.0,277.0,0.0,3113.0,96,NaN,3253,30619,30653.0
35060,2018-12-31 20:00:00+01:00,296.0,0.0,0.0,7241.0,2566.0,174.0,0.0,0.0,0.0,...,95.0,33.0,280.0,0.0,3288.0,51,NaN,3353,29932,29735.0
35061,2018-12-31 21:00:00+01:00,292.0,0.0,0.0,7025.0,2422.0,168.0,0.0,0.0,0.0,...,94.0,31.0,286.0,0.0,3503.0,36,NaN,3404,27903,28071.0
35062,2018-12-31 22:00:00+01:00,293.0,0.0,0.0,6562.0,2293.0,163.0,0.0,0.0,0.0,...,93.0,31.0,287.0,0.0,3586.0,29,NaN,3273,25450,25801.0
35063,2018-12-31 23:00:00+01:00,290.0,0.0,0.0,6926.0,2166.0,163.0,0.0,0.0,0.0,...,92.0,31.0,287.0,0.0,3651.0,26,NaN,3117,24424,24455.0

In [12]:
# Supprimer les colonnes dont toutes les données sont manquantes
df = df.dropna(axis=1, how='all')

# Afficher le dataframe mis à jour
df

,time,column1,column2,column3,column4,column5,column6,column7,column8,column9,...,column16,column17,column18,column19,column20,column21,column22,column24,forecastedtargets,targets
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,43.0,73.0,49.0,196.0,0.0,6378.0,17,6436,26118,25385.0
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,43.0,71.0,50.0,195.0,0.0,5890.0,16,5856,24934,24382.0
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,43.0,73.0,50.0,196.0,0.0,5461.0,8,5454,23515,22734.0
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,43.0,75.0,50.0,191.0,0.0,5238.0,2,5151,22642,21286.0
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,43.0,74.0,42.0,189.0,0.0,4935.0,9,4861,21785,20264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,0.0,7634.0,2628.0,178.0,0.0,0.0,0.0,...,63.0,95.0,85.0,277.0,0.0,3113.0,96,3253,30619,30653.0
35060,2018-12-31 20:00:00+01:00,296.0,0.0,0.0,7241.0,2566.0,174.0,0.0,0.0,0.0,...,62.0,95.0,33.0,280.0,0.0,3288.0,51,3353,29932,29735.0
35061,2018-12-31 21:00:00+01:00,292.0,0.0,0.0,7025.0,2422.0,168.0,0.0,0.0,0.0,...,61.0,94.0,31.0,286.0,0.0,3503.0,36,3404,27903,28071.0
35062,2018-12-31 22:00:00+01:00,293.0,0.0,0.0,6562.0,2293.0,163.0,0.0,0.0,0.0,...,61.0,93.0,31.0,287.0,0.0,3586.0,29,3273,25450,25801.0
35063,2018-12-31 23:00:00+01:00,290.0,0.0,0.0,6926.0,2166.0,163.0,0.0,0.0,0.0,...,61.0,92.0,31.0,287.0,0.0,3651.0,26,3117,24424,24455.0